.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    height: 50px;
    margin-right: 80px;
    background-color: #ea0000;
    width: 50px;
    
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table-container {
    border: 2px solid #007bff; /* สีฟ้า */
    border-radius: 5px;
    padding: 20px;
  }
  h1{
    color: #ffffff;
    align-items: center;
  }
  .box {
    width: 1040px;
    height: 171px;
    background-color: #1A4782;
    padding: 20px;
  }
  body {
    background-color: #EEEEEE;
  }